* {
    box-sizing: border-box;
 }
body {
    background-image: url(homeimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

.navbar {
    margin: 0 0px;
    display: flex;
    background-color:;
    height:63px;
    position: relative;
    width:100%;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    padding:20px;
    list-style-type: none;
    margin-top: 0%;
    width:100%;
}
.navbar .image {
    flex-basis: content;
    display: flex;
}
.image img {
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-left: 19px;
}
.image h1 {
    display :flex;
    position: absolute;
    margin-left: 79px;
    margin-top:9px;
    color: white;
}
.image h1 span {
    margin-left: 4px;
}
.navbar ul li a{
     padding: 20px;
     text-decoration: none;
     color:white;
}
.navbar ul li a.active {
    background-color: teal;
    padding: 10px 15px;
    border-radius: 6px;
}

.main {
    display: inline-block;   
    position: absolute;
    margin-left: 35%;
    top: 30%;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 20px;
}
#myform {
    padding: 10px;
}
#email {
    border-radius: 6px;
    width: 350px;
    padding: 10px;
    font-size: 18px;
}
#myform > h3 {
    color: white;
    font-weight: lighter;
    text-align: center;
}
#myform > h1 {
    color: white;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 30px;
}
#Password {
    border-radius: 6px;
    width: 350px;
    padding: 10px;
    font-size: 18px;
}
#myform p a.resetpword {
    cursor:pointer;
    color:#f04e69;
    transition: .5s ease;
}
#myform p {
    text-align: center;
}
#myform p a.resetpword:hover {
    border-bottom: 2px solid white;
}
#login {
    color: grey;
    margin-top: 20px;
    border-radius: 6px;
    width: 350px;
    padding: 10px;
    font-size: 18px;
    border-color: cyan;
}
#login:hover {
    background-color: #19e4e4;
    color: white;
    font-size: 20px;
}
#signup {
    border-radius: 6px;
    width: 350px;
    padding: 10px;
    font-size: 18px;
    color: #f04e69;
}
#signup:hover {
    background-color:#f04e69;
    color: white;
}
.credit-logo {
    display: flex;
    justify-content: center;
}
.logo-name {
    text-align: center;
    margin-top: 0px;
    color: darkorange;
}
.navbar {
    display: ;
}
form input:focus {
    border: 3px solid teal;
    outline: none;
}
form input:valid {
    transition:1s ease;
    border: 4px solid #f04e69;
}
